DATABASE_HOST=tu-host-db
DATABASE_NAME=postgres
DATABASE_PORT=5432
DATABASE_USER=tu-usuario
DATABASE_PASSWORD=tu-password
DATABASE_SSLMODE=require # Esto tiene que ser require para la db remota, para la local hay que poner disbale (que ya esta hecho en docker-compose-local)